header{
    padding-top: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

footer {
  position: sticky;
  margin-top: 20px;
  background-color: #304a6e;
}

.separar {
  height: 240px;
}

footer h3{
  margin-top: 20px;
}

.rodape {
  margin-top: 20px;
  height: 30px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
    width: 400px;
    max-width: 500px;
    background-color: #c6f6de;
  }

.refs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    margin-top: -50px;
}

.refscolor {
    color: #fff;
}

.bodyt{
    background-color: #b3dfec;
}

.texto{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    font-size: 33px;
    justify-content: center;
    margin-left: auto;
    padding-top: -100px;
}

#ret img{
    padding-top: 50px;
    padding-bottom: 20px;
}

  .card:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .image {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-left: auto;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .titlecapf {
    color: #fff;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
  }
  
  .container-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
  }

  .description {
    height: 80px; /* altura fixa para a descrição */
  }
  
  .container-home {
    display: grid;
    gap: 100px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .search {
  padding: 10px;
  color: #ffffff;
  background-color: #304a6e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  }
  .search :is(input, button) {
    color: inherit;
    border: none;
    background: transparent;
    outline: transparent;
  }
  .search__input {
    width: 0px;
    margin-right: -5px;
    transition: width .5s;
  }

  .search__btn {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  .search:focus-within input {
    width: 300px;
  }
::placeholder {
  color: inherit;
}



  .container-home img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3) {
    grid-row: 1; /* define a primeira linha para os três primeiros cards */
  }
  
  .card:nth-child(4),
  .card:nth-child(5) {
    grid-row: 2; /* define a segunda linha para os dois últimos cards */
  }
  
  .container-second-row {
    display: grid;
    gap: 200px;
    justify-content: center;
    margin-bottom: 50px;
  }
  

  
  @media screen and (max-width: 600px) {
    /* aqui você pode definir as regras de estilo para dispositivos com largura máxima de 600px, como celulares */
    
    .container-home,
    .container-second-row {
    display: block;
    margin-bottom: 20px;
    }
  
    .container-input {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      height: 40px;
      width: 50%;
    }

    .container-input input {
      height: 20px;
      width: 150px;
      font-size: 15px;
      font-weight: bold;
    }


    .refs {
      margin-top: -20px;
    }

    .card {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    }

    .separar {
      height: 100px;
    }
    
    .texto {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    }
    
    .image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    
    .refstext {
      font-size: 14px;
    }

    .title {
      word-wrap: break-word;
      font-size: 21px;
    }

    a {
      padding-top: 0px;
    }

    .title,
    .description {
    height: auto;
    }

    }